/**
 * @file
 * Stylesheet for the 'Yandex Maps' module.
 */

.yamaps-field-map label {
  display: inline;
}

.yamaps-field-map .yamaps-balloon {
  padding: 2px 10px;
}

.yamaps-field-map .yamaps-balloon label {
  color: #666;
  display: block;
  font-size: 12px;
  font-style: italic;
  font-weight: normal;
}

.yamaps-field-map .yamaps-balloon label:after {
  content: ":";
}

.yamaps-field-map .yamaps-balloon input {
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 12px;
  margin: 0;
  padding: 3px;
  width: 95%;
}

.yamaps-field-map .yamaps-balloon .form-element {
  margin: 0 0 7px 0;
  overflow: hidden;
}

.yamaps-field-map .yamaps-balloon .actions {
  line-height: 20px;
  margin: 10px 0 0 0;
  overflow: hidden;
}

.yamaps-field-map .yamaps-balloon .actions #deleteButton {
  float: left;
}

.yamaps-field-map .yamaps-balloon .actions #saveButton {
  background: #fff;
  float: right;
  height: 20px;
  line-height: 12px;
  width: 90px;
}

.yamaps-field-map .yamaps-balloon .yamaps-colors .yamaps-color {
  border: none;
  cursor: pointer;
  float: left;
  margin: 0;
  padding: 1px;
}

.yamaps-field-map .yamaps-balloon .yamaps-colors .yamaps-color div {
  border: 1px solid white;
  height: 10px;
  overflow: hidden;
  text-indent: 9999px;
  width: 10px;
}

.yamaps-field-map .yamaps-balloon .yamaps-colors .yamaps-color-active {
  background-color: #444;
}

.yamaps-search-form {
  display: block;
  margin: 25px 0 15px 0;
  overflow: hidden;
}

.yamaps-search-form input.form-text {
  margin: 0 10px 0 0;
  width: 80%;
}

.yamaps-search-form input.form-submit {
  margin: 0;
  width: 15%;
}

.yamaps-terms {
  text-align: right;
}

.remove_yamap_button {
  border: 1px solid #888;
  padding: 3px 6px;
  cursor: pointer;
  background: #fff;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
}

.close_yamap_button,
.open_yamap_button,
.open_yamap_button_static,
.remove_yamap_button {
  position: relative;
  top: 0;
  left: 0;
  vertical-align: middle;
  margin: 0;
  padding: 10px 15px;
  line-height: 100%;
  border-radius: 5px;
  cursor: pointer;
  width: auto;
  overflow: visible;
  font-weight: normal;
  font-size: 14px; /* Pixels for consistency */
  text-shadow: 0 1px 0 #fff;
  color: #666;
  text-decoration: none;
  box-sizing: border-box;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  *display: inline; /* IE ONLY */
  zoom: 1;
  border: 1px solid #ccc;
  background: rgb(252, 252, 252); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(252, 252, 252, 1) 0%, rgba(224, 224, 224, 1) 100%); /* FF 3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(252, 252, 252, 1)), color-stop(100%, rgba(224, 224, 224, 1))); /* Chrome, Safari 4+ */
  background: -webkit-linear-gradient(top, rgba(252, 252, 252, 1) 0%, rgba(224, 224, 224, 1) 100%); /* Chrome 10+, Safari 5.1+ */
  background: -o-linear-gradient(top, rgba(252, 252, 252, 1) 0%, rgba(224, 224, 224, 1) 100%); /* Opera 11.10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#e0e0e0', GradientType=0); /* IE6-9 */
  background: linear-gradient(top, rgba(252, 252, 252, 1) 0%, rgba(224, 224, 224, 1) 100%); /* W3C */
}

.yamaps-map-container {
  width: 100%;
  height: 400px;
  margin: 10px 0 0 0;
}
